/*Colors*/

$lightGray: #f2f2f2;
$lightGraySep:#e7e7e7;
$iconsColor:#878787;
$logoColor:#5f6265;
$mainColor:#66cdbd;
$documentTextColor:#999b9e;
$documentTextColorDarker:#87898b;
$documentTextColorDarkest:#5c5c5c;
$headingTextColor:#bbbbbb;
$white:#fff;
$bannerIcons:$white;
$skillBk:#e9e8e8;
$formColor:#eeeeee;
$red:#fd0000;